<div class="padding">

  <div class="padding card">
    <p><%= @question %></p>
    <p>-You</p>
  </div>
  <div class="padding card">
    <p><%= @answer %></p>
    <p>-Stupid Coach</p>
  </div>

  <%= link_to "Ask a new question", ask_path %>

</div>
