<h3 class="padding">Ask your coach anything:</h3><br>

<div>
  <form action="/answer" class="padding flex">
    <input type="text" name="question" class="searchbar">
    <input type="submit" value="Ask" class="button Ask">
  </form>
</div>
